
<%= form_for(@antibody, :html => {:multipart => true}, :method=>'get', :builder=> BootstrapFormBuilder) do |f| %>
  <% if @antibody.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@antibody.errors.count, "error") %> prohibited this antibody from being saved:</h2>

      <ul>
      <% @antibody.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
	
	<%= render :partial=>'antibody_display', :locals=>{:f => f} %>


<% end %>

