apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: labdb-web-<LAB>
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: labdb
        image: us.gcr.io/labdb-io/labdb_web:<VERSION>
        env:
        - name: GET_HOSTS_FROM
          value: dns
        ports:
        - containerPort: 4000
