apiVersion: v1
kind: Service
metadata:
  labels:
    name: labdb-web-<LAB>
  name: labdb-web-<LAB>
spec:
  type: NodePort
  ports:
    - port: 3000
      nodePort: 30081
      protocol: TCP
  selector:
    name: labdb-web-<LAB>
