apiVersion: v1
kind: Service
metadata:
  labels:
    name: labdb-web-<LAB>
  name: labdb-web-<LAB>
spec:
  type: NodePort
  ports:
    - port: 4000
      nodePort: 30080
      protocol: TCP
  selector:
    name: labdb-web-<LAB>
