
= form_for(@antibody, html: {multipart: true, class: "form-vertical"}, builder: BootstrapFormBuilder ) do |f|

  -if @antibody.errors.any?
    #error-explanation
      %h2 #{pluralize(@antibody.errors.count, "error")} prohibited this antibody from being saved:
      %ul
        - antibody.errors.full_messages.each do |msg|
          %li= msg

  = render partial: 'antibody_display', locals:{f: f}
