-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++


.row-fluid#description-row
  .span7
    .control-group
      = f.label(@obj.description_field_name, @obj.get_heading(@obj.description_field_name), :class=> "label control-label label-inverse")
      .pull-right.help-text
        %a.pop{href: "#", 'data-toggle' => 'popover', 'data-placement' => 'right', 'title' => "Description&nbsp;formatting".html_safe, 'data-content' => Helptext.get(:description_formatting).html_safe}
          %i{class: "icon-info-sign"}
      .controls= f.text_area(@obj.description_field_name, :readonly=>readonly?, :rows=>12, :class=>"input-xxlarge")
