-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

%ul{class: "nav pull-right info"}

	%li.divider-vertical
	%li.dropdown
		%a{class: 'dropdown-toggle', href: "#", 'data-toggle' => 'dropdown'}
			%i{class: "icon-info-sign"}
		%ul.dropdown-menu
			%li
				.container.help-text
					%h4= ("Search&nbsp;Reference" + ("&nbsp;"*50)).html_safe

					%p Searching can be accomplished using two different syntaxes: glob-style or regular expression.

					%h6 Glob-style searching
					%ul
						%li Search query must match the database entry's field exactly, with nothing extra.
						%li An asterisk matches any character.
						%li All searches case-insensitive.


					%b Examples:
					%ul
						%li 
							%code CENP- 
							would not match "CENP-A" or "CENP-C" or "hCENP-A"

						%li
							%code CENP-A
							would match "CENP-A" but not "hCENP-A"

						%li
							%code CENP-*
							would match "CENP-A" and "CENP-C" but not "hCENP-A"

						%li
							%code *CENP-*
							would match all of these examples.

					%h6 Regular expression searching
					%ul
						%li
							Put regular expression search queries between forward slashes:
							%code /CENP-A/
						%li
							Will match any database entry whose field matches the expression anywhere (so
							%code /CENP-A/
							works like
							%code *CENP-A*
							in the glob-style).
						%li
							Use ruby-style regular expression syntax.  See the
							%a{href: "http://ruby-doc.org/core-1.9.3/Regexp.html"} Ruby regular expression class reference
							for complete details.
						%li
							Searches default to case-sensitive.  Put a lower case i directly after the trailing slash to make them case-insensitive:
							%code /CENP-A/i
					%b Useful regular expression tips:
					%ul
						%li
							A . will match any character. 
							%code /CENP-./
							matches "CENP-A", "CENP-C" and "hCENP-A".
						%li
							An asterisk following a character indicates that zero or more of that character can be present.
							%code /GC*G/
							matches "GG", "GCG", and "GCCCCCCCG" but not "GTG".
						%li
							\\d will match any number and \w will match any letter or number.
							%code /CENP-\w*/
							matches "CENP-U" and "CENP-50".








