.span4
  .info-block
    %h4 Log in with Google
    = link_to 'Log in', '/google_login', class: "btn btn-inverse btn-small"
.span4
  .info-block
    %h4 Log in using Persona
    = render partial: 'static/persona'