<div class="container hero-unit">

  <%=  render :partial => "shared/subnavbar" %>


  <div class="navbar">

  </div>

  <% @table_columns = [:plasmidnumber, :date_entered, :enteredby, :plasmidalias, :plasmidsize, :strainnumbers] %>
  <% @controller = PlasmidsController %>
  <% @table_objects = @plasmids %>

  <%= render :partial => "shared/objecttable" %>

<br />
</div>