<h1>New plasmid</h1>

<% def readonly?
		false
	end
%>
<% def submit_text
	"Create plasmid"
	end
%>

<% def show_map?
      true
    end
%>

<%= render 'plasmidinfo' %>

<%= submit_tag "Create new plasmid", class: "btn btn-success"  %>

