- if show_map? then

  .row-fluid#map
    .span6
      .control-group
        = f.label(:mapreference, PlasmidsController.get_heading(:mapreference), class: "label control-label")
        .controls
          -if @plasmid.plasmidmap.file? then
            = image_tag @plasmid.plasmidmap.url
          -else
            (Map not uploaded.)

    -unless readonly? then
      .span3
        .control-group
          = f.label "Upload new map:", :class=>"label control-label"
          .controls= f.file_field :plasmidmap
