-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

- if show_map? then

  .row-fluid#map
    .span6
      .control-group
        = f.label(:mapreference, PlasmidsController.get_heading(:mapreference), class: "label control-label")
        .controls
          -if @plasmid.plasmidmap.file? then
            = image_tag @plasmid.plasmidmap.url
          -else
            (Map not uploaded.)

    -unless readonly? then
      .span3
        .control-group
          = f.label "Upload new map:", :class=>"label control-label"
          .controls= f.file_field :plasmidmap
