/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

@import "bootstrap";
@import "navbar_extra";
@import "plasmid_mapping";
@import "quickstart";
@import "tableview";

.login-button {
  @extend .btn;
  @extend .btn-small;
  @extend .btn-inverse;
  margin-bottom: 0px;
}

form {
  margin-bottom: 0px;
}

.login-form {
  margin-bottom: 0px;
}

body {
    padding-top: 60px;
    font: sans-serif;
    font-size: small;
}

.tiny {
    font-size: xx-small;
}

.help-text {
    font-size: xx-small;
}

.container.help-text {

    padding-left: 5px;
    padding-right: 5px;
}

.align-left {
    text-align: left;
}

.core-info {
    @extend .align-left;
}

.core-info-number {
    @extend .core-info;
    line-height: 70%;
}

.core-info-alt {
    @extend .core-info;
    text-align: right;
}

.core-info-alias {
    @extend .core-info;
}

.info-block {
    position: relative;
    padding: 19px 19px 19px 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

p {
    font: sans-serif;
    font-size: small;
}

.sequence-block {
    font-family: monospace;
    word-wrap: break-word;
}

td.td-center {
    text-align: center;
}

h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}


//header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
