/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require navbar_extra.css
 *= require tableview.css
*/

@import "bootstrap";

body {
    padding-top: 60px;
    font: sans-serif;
    font-size: small;
}

.tiny {
    font-size: xx-small;
}

.container.help_text {
    font-size: xx-small;
    padding-left: 5px;
    padding-right: 5px;
}

.align-left {
    text-align: left;
}

.core-info {
    @extend .align-left;
}

.core-info-number {
    @extend .core-info;
    line-height: 70%;
}

.core-info-alt {
    @extend .core-info;
    text-align: right;
}

.core-info-alias {
    @extend .core-info;
}

.info-block {
    position: relative;
    padding: 19px 19px 19px 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sequence-block {
    font-family: monospace;
    word-wrap: break-word;
}

td.td-center {
    text-align: center;
}
