  
  .nowrap {
  	white-space: nowrap;
    display: inline-table;
  }

  .nowrap-row {
  	white-space: nowrap;
    display: table-row;
  }

  .nowrap-cell {
  	white-space: nowrap;
    display: table-cell;
  }

  .button-cell-shrink {
    width: 0px;
  }

  .pagination li.all-borders .page {
    border-width: 1px 1px 1px 1px;
    border-collapse: collapse;
  }
