
.objecttable {
  @extend .table;
  @extend .table-striped;
  @extend .table-condensed;
  @extend .table-hover;
  @extend .table-bordered;
}

.sortable-header {
  white-space: nowrap;
  display: inline-table;
}

.sortable-header-group {
  white-space: nowrap;
  display: table-row;
}

.sortable-header-text {
  white-space: nowrap;
  display: table-cell;
}

.sortable-header-button-container {
  white-space: nowrap;
  display: table-cell;
}

.sort-button {
  @extend .btn;
  @extend .btn-link;
  @extend .dropdown-toggle;
  @extend .btn-mini;
}

.write-button-group {
  white-space: nowrap;
  display: table-row;
}

td.write-button-table-cell {
  width: 0px;
}

.write-button-cell {
  white-space: nowrap;
  display: table-cell;
}

.cell-with-button {
  @extend .write-button-cell;
}

.sort-caret {
  @extend .btn;
  @extend .btn-link;
  @extend .dropdown-toggle;
  @extend .btn-mini;
}

.pagination li.all-borders .page {
  border-width: 1px 1px 1px 1px;
  border-collapse: collapse;
}
